@mixin border-top {
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background: #e5e5e5;
    transform: translateY(0.5);
  }
}
@mixin  border-bottom {
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom:0;
    background: #e5e5e5;
    transform: translateY(0.5);
  }
}
